{% extends 'base/base.html' %} {% block css %} {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/estilos.css' %}" />
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/estiloCarrito.css' %}"
/>
{% endblock css %} {% block contenido %}

<body>
  <h1>Carrito de Compras</h1>

  {% for producto in productos %}
  <div class="products">
    <div class="product">
      <img src="{{ producto.producto.imagen.url }}" />
      <div class="product-info">
        <h3 class="product-name">{{ producto.producto.nombre_producto }}</h3>
        <h4 class="product-price">${{ producto.producto.precio_producto }}</h4>
        
        <i class="fa fa-trash" aria-hidden="true"></i>
        <a class="btn btn-primary" href="{% url 'eliminarCarro' producto.id %}">Eliminar</a>
        
      </div>
    </div>
  </div>

  {% endfor %}
</body>
{% endblock contenido %}
