{% extends 'base/base.html' %}

{% block css %} 
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/estilos.css' %}" />
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/style-contactos.css' %}"
/>
{% endblock css %}

{% block contenido %}

<section class="identidad">
            <div class="card mr-2" style="width: 18rem;">
                <img src="../static/img/guetto.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Tomas Alonso Avendaño Parada</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="https://www.instagram.com/toom.mp3/" target="_blank" 
                        class="btn btn-primary">Instagram</a>
                </div>
            </div>

            <div class="card mr-2" style="width: 18rem;">
                <img src="../static/img/daddy.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Brian Antonio Cerda Yañez</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="https://www.instagram.com/quick_strategies/" target="_blank"
                        class="btn btn-primary">Instagram</a>
                </div>
            </div>

            <div class="card mr-2" style="width: 18rem;">
                <img src="../static/img/arcangel.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"> Sebastian Eduardo Espinoza Lartiga</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="https://www.instagram.com/quick_strategies/" target="_blank"
                        class="btn btn-primary">Instagram</a>
                </div>

            </div>
            <div class="card mr-2" style="width: 18rem;">
                <img src="../static/img/kendo.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"> Humberto Andres Guzman Muñoz</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="https://www.instagram.com/x.bert_g/" target="_blank" 
                        class="btn btn-primary">Instagram</a>
                </div>
            </div>
        </section>

{% endblock contenido %}