<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-2" id="navbar1">
    <a class="navbar-brand">
      <img src="https://user-images.githubusercontent.com/590297/84582475-795ece00-adba-11ea-9aa1-a62c308746ec.png"
        width="30" height="30" class="d-inline-block align-top" alt="" id="icono-nav">


        <a class="navbar-brand" href="{% url 'principal' %}">AgoraTech</a>


        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <!--Primer Dropdown-->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Productos
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% url 'productos' %}">Todos los productos</a>
            </div>
          </li>
          <!-- Segundo Dropdown -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Mantencion
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{%url 'inicioProductos'%}">Productos</a>
              <a class="dropdown-item" href="{%url 'inicioCategoria'%}">Categorias</a>
              <a class="dropdown-item" href="/paginas/index-registro.html">Clientes</a>
            </div>
          </li>
          <!--Dropdown Login-->
          <div class="dropdown ml-1 mt-1" id="dropdownlogin">
            <button class="btn btn-secondary dropdown-toggle btn-sm" type="button" id="dropdownMenu2"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Iniciar sesión
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
              <a class="dropdown-item" href="{% url 'iniciar_sesion' %}">Inicio de Sesion</a>
              <a class="dropdown-item" href="{% url 'salir' %}">Salir</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'Registro' %}">¿No tienes una cuenta?</a>
              <a class="dropdown-item" href="#">¿Olvidaste tu contraseña?</a>
            </div>
          </div>

          <li class="nav-item active">
            <a class="nav-link" href="#/Contacto">Contactanos!! <span class="sr-only">(current)</span></a>
          </li>

        </ul>
        <form class="d-flex">
          <button class="btn btn-outline-success mr-2" type="submit">Buscar</button>
          <input class="form-control" type="search" placeholder="Buscar" aria-label="Search">
        </form>
</nav>