{% extends 'base/base.html' %} {% block css %} {% load static %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/estiloCrud.css' %}"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/estilo.css' %}"
/>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

{% endblock css %} {% block titulo %} Productos {%endblock titulo %} 

{% block contenido %}
<section class="row" id="contPagina">
  <article class="col-sm-12">
    <article class="col-sm-12 my-2"></article>
    <h2 class="text-center">Mantenedor De Productos</h2>
  </article>
  <article class="col-sm-12 my-2"></article>
  <article class="col-sm-12 d-flex flex-row-reverse" id="Agregar">
    <a href="{% url 'nuevoProducto' %}" class="btn btn-info"
      >Agregar Producto</a
    >
  </article>
  <article class="col-sm-12 my-2"></article>
  <!-- tabla de productos -->
  <article class="col-sm-12 table-responseive">
    <table class="table">
      <thead>
        <th>Nombre producto</th>
        <th>Descripcion</th>
        <th>Precio</th>
        <th>Fecha ingreso</th>
        <th>Categoria</th>
        <th>Estado</th>
        <th>Stock</th>
        <th class="d-flex justify-content-center">Acciones</th>
      </thead>
      <tbody>
        {% for producto in productos %}
        <tr>
          <td>{{ producto }}</td>
          <td>{{ producto.descripcion_producto }}</td>
          <td>{{ producto.precio_producto }}</td>
          <td>{{ producto.fecha_ingreso }}</td>
          <td>{{ producto.categoria_producto }}</td>
          <td>{{ producto.estado_producto }}</td>
          <td>{{ producto.stock_producto }}</td>
          <td class="d-flex justify-content-center">
            <div class="btn-group" role="group" aria-label="acciones">
              <a
                type="button"
                href="{% url 'modificarProducto' idProducto=producto.id %}"
                class="btn btn-warning"
              >
                <i class="bi bi-pencil-square"></i>
              </a>
              <a
                type="button"
                href="{% url 'eliminar' idProducto=producto.id %}"
                onclick="return window.confirm('Desea eliminar el producto {{ producto.nombre_producto }}')"
                class="btn btn-warning"
              >
                <i class="bi bi-trash"></i>
              </a>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </article>
</section>
{% endblock contenido %}
