{%extends 'base/base.html' %} {% block css %} {% load static %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/styles-registro.css' %}"
/>
{% endblock css %} {%block contenido%}
<section class="row mt-3">
  <article class="card col-md-6 col-sm-12 col-xl-5 offset-md-3 offset-xl-4">
    <section class="card-body">
      <h3 class="card-title text-center">Registrate!!</h3>
      <form method="POST">
        {%csrf_token%} {% for campo in formulario %}
        <div class="form-group col-md-12">
          <label for="{{campo.id_for_label}}">{{campo.label}}</label>
          {{campo}}
        </div>
        {% if campo.errors %}
        <span class="text-muted"> {{campo.errors}} </span>
        {%endif%} {% endfor %}
        <div class="from-group col-md-12">
          <input
            type="submit"
            class="btn btn-block btn-success"
            value="Registrarme!"
          />
        </div>
      </form>
    </section>
  </article>
</section>
{%endblock contenido%}
