{% extends 'base/base.html' %} {% block css %} {% load static %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/estiloCrud.css' %}"
/>
{% endblock css %} {% block titulo %} Categorias {%endblock titulo %} 

{% block contenido %}
<section class="row" id="contPagina">
  <article class="col-sm-12">
    <article class="col-sm-12 my-2"></article>
    <h2 class="text-center">Categorías</h2>
  </article>
  <article class="col-sm-12 my-2"></article>
  <article class="col-sm-12 d-flex flex-row-reverse" id="Agregar">
    <a href="{% url 'nuevaCategoria' %}" class="btn btn-info"
      >Agregar Categría</a
    >
  </article>
  <article class="col-sm-12 my-2"></article>
  <article class="col-sm-12 table-responseive">
    <table class="table">
      <thead>
        <tr>
          <th>Nombre categoría</th>
          <th>Descripcion categoria</th>
          <th class="d-flex justify-content-center">Acciones</th>
        </tr>
      </thead>
      <tbody>
        {%for categoria in categorias%}
        <tr>
          <td>{{categoria}}</td>
          <td>{{categoria.descripcion_categoria}}</td>
          <td class="d-flex justify-content-center">
            <div class="btn-group" role="group" aria-label="acciones">
              <a
                type="button"
                href="{% url 'modificarCategoria' idCategoria=categoria.id %}"
                class="btn btn-warning"
              >
                <i class="bi bi-pencil-square"></i>
              </a>
              <a
                type="button"
                href="{% url 'eliminarCategoria' idCategoria=categoria.id %}"
                onclick="return window.confirm('Desea eliminar la categoria {{ categoria.nombre_categoria }}')"
                class="btn btn-warning"
              >
                <i class="bi bi-trash"></i>
              </a>
            </div>
          </td>
        </tr>
        {%endfor%}
      </tbody>
    </table>
  </article>
</section>
{% endblock contenido %}
