{% extends 'base/base.html' %}

{% block contenido %}
<section class="row">
	<article
		class="
			card
			col-md-8 col-xs-12 col-xl-7
			offset-md-2 offset-xl-3
			mt-3
		" id="contPagina"
	>
		<section class="card-body">
			<h4 class="card-title text-center">Nuevo registro</h4>
			<form method="POST">
				{%csrf_token%} {%for campo in formulario %}
				<div class="row">
					<div class="form-group col-md-12">
						<label for="{{campo.id_for_label}}"
							>{{campo.label}}</label
						>
						{{campo}}
						<small
							id="{{campo.id_form_label}}Ayuda"
							class="form-text text-muted"
							>{{ campo.erros }}</small
						>
					</div>
				</div>
				{%endfor%}
				<div class="form-group d-flex justify-content-between">
					<input
						type="submit"
						class="btn btn-success"
						value="Guardar"
					/>
					<a
						href="{%url 'inicioCategoria'%}"
						class="btn btn-danger"
						>Volver</a
					>
				</div>
			</form>
		</section>
	</article>
</section>
{% endblock contenido %}