{% extends 'base/base.html' %} {% block css %} {% load static %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/estiloxbox.css' %}"
/>
{% endblock css %} {% block contenido %}
<main class="container">
  <div class="productoxbox">
    <div class="imagenlogo">
      <img src="./static/img/xboxgamepass.jpeg" alt="" />
    </div>

    <div class="artic-xbox"></div>
  </div>
  <h3 style="color: wheat">Lo más vendido</h3>
  <div class="productos-xbox">
    <div class="card mb-2" style="width: 20rem">
      <img src="./static/img/xbox4.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h6 class="card-title">Xbox One S Full Pack Minecraft Edition</h6>
        <h6 class="card-text">$ 349.990</h6>
        <a class="btn btn-primary">Comprar</a>
      </div>
    </div>
    <div class="card mb-2" style="width: 20rem">
      <img src="./static/img/xbox5.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h6 class="card-title">Xbox One Pack Minecraft Edition 500GB</h6>
        <h6 class="card-text">$ 299.990</h6>
        <a class="btn btn-primary">Comprar</a>
      </div>
    </div>
    <div class="card mb-2" style="width: 20rem">
      <img src="./static/img/xbox6.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h6 class="card-title">Wireless Xbox Controller Minecraft Edition</h6>
        <h6 class="card-text">$ 79.990</h6>
        <a class="btn btn-primary">Comprar</a>
      </div>
    </div>
  </div>

  <div class="productos-xbox">
    <div class="card mb-2" style="width: 20rem">
      <img src="./static/img/game1.png" class="card-img-top" alt="..." />
      <div class="card-body">
        <h6 class="card-title">Crash Bandicoot 4 It's About Time</h6>
        <h6 class="card-text">$ 49.990</h6>
        <a class="btn btn-primary">Comprar</a>
      </div>
    </div>
    <div class="card mb-2" style="width: 20rem">
      <img src="./static/img/game2.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h6 class="card-title">Mortal Kombat 11 Premium Edition</h6>
        <h6 class="card-text">$ 49.990</h6>
        <a class="btn btn-primary">Comprar</a>
      </div>
    </div>
    <div class="card mb-2" style="width: 20rem">
      <img src="./static/img/game3.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h6 class="card-title">Megaman 11 Xbox One</h6>
        <h6 class="card-text">$ 49.990</h6>
        <a class="btn btn-primary">Comprar</a>
      </div>
    </div>
  </div>

  <div class="productos-xbox">
    <div class="card mb-2" style="width: 20rem">
      <img src="./static/img/xbox3.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h6 class="card-title">Wireless Xbox One controller Blue</h6>
        <h6 class="card-text">$ 49.990</h6>
        <a class="btn btn-primary">Comprar</a>
      </div>
    </div>
    <div class="card mb-2" style="width: 20rem">
      <img src="./static/img/xbox1.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h6 class="card-title">Wireless Xbox One controller USB</h6>
        <h6 class="card-text">$ 89.990</h6>
        <a class="btn btn-primary">Comprar</a>
      </div>
    </div>
    <div class="card mb-2" style="width: 20rem">
      <img src="./static/img/xbox2.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h6 class="card-title">Wireless Xbox One controller Custom</h6>
        <h6 class="card-text">$ 69.990</h6>
        <a class="btn btn-primary">Comprar</a>
      </div>
    </div>
  </div>
</main>
{% endblock contenido %}
