body {
  background-image: url(/static/img/521477.jpg);
  background-size: 100% 100%;
  background-attachment: fixed;
}
#icono-nav:hover {
  animation: icon linear 0.5s;
}

@keyframes icon {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

/* USANDO API */
#map {
  height: 500px;
  width: 100%;
}

.direccion {
  border: 2px solid white;
  background-color: rgb(44, 41, 41);
  display: table;
  border-radius: 10px 10px 10px 10px;
}

.direccion h4 {
  color: white;
}

.cartaProducto {
  overflow: hidden;
  flex-wrap: wrap;
  min-width: 120px;
}

.contProductos {
  background: #343a40;
  padding: 20px;
  border: 2px solid black;
  border-radius: 5px;
  padding-left: 6%;
}

.btnFiltro {
  background: #343a40;
  margin-bottom: 10px;
  padding: 5px;
  display: flex;
  justify-content: space-around;
  border: 2px solid black;
  border-radius: 5px;
}

.btnFiltro a {
  color: white;
}

.btnFiltro a:hover {
  color: black;
}