#Agregar {
  justify-content: center;
}

#contPagina {
  background-color: #343a40;
  border: 2px solid black;
  border-radius: 20px;
  color: #f8f9fa;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  overflow: scroll;
}
.table {
  color: #f8f9fa;
}

