.identidad {
<<<<<<< HEAD
  display: flex;
  background: #343a40;
  padding: 20px;
  border: 2px black solid;
  border-radius: 5px;
}

.container {
color: black;
=======
    display: flex;
}

.container {
  color: black;
>>>>>>> 0881992825f0e7e4a3277a4908d74b960c85ca89
}

html,
body {
<<<<<<< HEAD
height: 100%;
margin: 0%;
padding: 0;
background-size: 100% 100%;
background-attachment: fixed;
}

.card-body {
display: flex;
flex-direction: column;
}

.card-img-top {
height: 350px;
=======
  height: 100%;
  margin: 0%;
  padding: 0;
  background-image: url(../img/contactos.jpg);
  background-size: 100% 100%;
  background-attachment: fixed;
}

#map {
	height: 500px;
	width: 100%;
>>>>>>> 0881992825f0e7e4a3277a4908d74b960c85ca89
}