.identidad {
    display: flex;
}

.container {
  color: black;
}

html,
body {
  height: 100%;
  margin: 0%;
  padding: 0;
  background-image: url(../img/contactos.jpg);
  background-size: 100% 100%;
  background-attachment: fixed;
}

#map {
	height: 500px;
	width: 100%;
}