.identidad {
  display: flex;
  background: #343a40;
  padding: 20px;
  border: 2px black solid;
  border-radius: 5px;
}

.container {
color: black;
}

html,
body {
height: 100%;
margin: 0%;
padding: 0;
background-size: 100% 100%;
background-attachment: fixed;
}

.card-body {
display: flex;
flex-direction: column;
}

.card-img-top {
height: 350px;
}