{% extends 'base/base.html' %} {% block css %} {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/estilopc.css' %}" />
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/lightslider.css' %}"
/>
{% endblock css %} {% block contenido %}
<!--Carrusel-->
<section>
  <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li
        data-target="#carouselExampleCaptions"
        data-slide-to="0"
        class="active"
      ></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="./static/img/pc-logo.jpg" class="d-block w-100" alt="..." />
        <div class="carousel-caption d-none d-md-block">
          <h5></h5>
          <p></p>
        </div>
      </div>
      <div class="carousel-item">
        <img
          src="./static/img/componentes-logo.jpg"
          class="d-block w-100"
          alt="..."
        />
        <div class="carousel-caption d-none d-md-block">
          <h5></h5>
          <p></p>
        </div>
      </div>
      <a
        class="carousel-control-prev"
        href="#carouselExampleCaptions"
        role="button"
        data-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a
        class="carousel-control-next"
        href="#carouselExampleCaptions"
        role="button"
        data-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

    <div class="artic-play"></div>
  </div>
</section>
<!--productos-->
<div class="container-cards">
  <div class="producto">
    <div class="producto-card">
      <h2 class="nombre">Intel i5 9400f GTX 1050ti 1TB 8gb ram</h2>
      <span class="precio">$500.000</span>
      <a class="popup-btn">Vista previa</a>
      <img
        src="./static/img/pc1.jpg"
        class="producto-img"
        alt="Imagen faltante :("
      />
    </div>
    <div class="popup-view">
      <div class="popup-card">
        <a><i class="fas fa-times close-btn"></i></a>
        <div class="producto-img">
          <img src="./static/img/pc1.jpg" alt="Imagen faltante :(" />
        </div>
        <div class="info">
          <h2>Intel i5 9400f <br /><span>Pc Armados</span></h2>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur
            commodi ex mollitia vero eius ut non dolor! Illo, quasi molestiae.
          </p>
          <span class="precio">$500.000</span>
          <a href="#" class="anadir-carro-btn">Añadir al carro</a>
          <a href="#" class="anadir-deseo">Añadir a lista de deseos</a>
        </div>
      </div>
    </div>
  </div>
  <div class="producto">
    <div class="producto-card">
      <h2 class="nombre">Intel i7 GTX 1060 1TB 8gb ram</h2>
      <span class="precio">$600.000</span>
      <a class="popup-btn">Vista previa</a>
      <img
        src="./static/img/pc2.jpg"
        class="producto-img"
        alt="Imagen faltante :("
      />
    </div>
    <div class="popup-view">
      <div class="popup-card">
        <a><i class="fas fa-times close-btn"></i></a>
        <div class="producto-img">
          <img src="./static/img/pc2.jpg" alt="Imagen faltante :(" />
        </div>
        <div class="info">
          <h2>Intel i7 1060 <br /><span>Pc armados</span></h2>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur
            commodi ex mollitia vero eius ut non dolor! Illo, quasi molestiae.
          </p>
          <span class="precio">$600.000</span>
          <a href="#" class="anadir-carro-btn">Añadir al carro</a>
          <a href="#" class="anadir-deseo">Añadir a lista de deseos</a>
        </div>
      </div>
    </div>
  </div>
  <div class="producto">
    <div class="producto-card">
      <h2 class="nombre">Intel i5 9400f GTX 1060 1TB 8gb ram</h2>
      <span class="precio">$550.000</span>
      <a class="popup-btn">Vista previa</a>
      <img
        src="./static/img/pc3.jpg"
        class="producto-img"
        alt="Imagen faltante :("
      />
    </div>
    <div class="popup-view">
      <div class="popup-card">
        <a><i class="fas fa-times close-btn"></i></a>
        <div class="producto-img">
          <img src="./static/img/pc3.jpg" alt="Imagen faltante :(" />
        </div>
        <div class="info">
          <h2>Intel i5 9400f <br /><span>Pc armados</span></h2>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur
            commodi ex mollitia vero eius ut non dolor! Illo, quasi molestiae.
          </p>
          <span class="precio">$550.000</span>
          <a href="#" class="anadir-carro-btn">Añadir al carro</a>
          <a href="#" class="anadir-deseo">Añadir a lista de deseos</a>
        </div>
      </div>
    </div>
  </div>
  <div class="producto">
    <div class="producto-card">
      <h2 class="nombre">Intel i9 GTX 1060 1TB 8gb ram</h2>
      <span class="precio">$800.000</span>
      <a class="popup-btn">Vista previa</a>
      <img
        src="./static/img/pc8.png"
        class="producto-img"
        alt="Imagen faltante :("
      />
    </div>
    <div class="popup-view">
      <div class="popup-card">
        <a><i class="fas fa-times close-btn"></i></a>
        <div class="producto-img">
          <img src="./assets/img/pc8.png" alt="Imagen faltante :(" />
        </div>
        <div class="info">
          <h2>Intel i9 <br /><span>Pc armados</span></h2>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur
            commodi ex mollitia vero eius ut non dolor! Illo, quasi molestiae.
          </p>
          <span class="precio">$800.000</span>
          <a href="#" class="anadir-carro-btn">Añadir al carro</a>
          <a href="#" class="anadir-deseo">Añadir a lista de deseos</a>
        </div>
      </div>
    </div>
  </div>
  <!---2nda row de productos-->
  <div class="producto">
    <div class="producto-card">
      <h2 class="nombre">Intel i3 9100f GTX 1060 1TB 8gb ram</h2>
      <span class="precio">$500.000</span>
      <a class="popup-btn">Vista previa</a>
      <img
        src="./static/img/pc5.png"
        class="producto-img"
        alt="Imagen faltante :("
      />
    </div>
    <div class="popup-view">
      <div class="popup-card">
        <a><i class="fas fa-times close-btn"></i></a>
        <div class="producto-img">
          <img src="./static/img/pc5.png" alt="Imagen faltante :(" />
        </div>
        <div class="info">
          <h2>Intel i3 9100f<br /><span>Pc armados</span></h2>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur
            commodi ex mollitia vero eius ut non dolor! Illo, quasi molestiae.
          </p>
          <span class="precio">$500.000</span>
          <a href="#" class="anadir-carro-btn">Añadir al carro</a>
          <a href="#" class="anadir-deseo">Añadir a lista de deseos</a>
        </div>
      </div>
    </div>
  </div>
  <div class="producto">
    <div class="producto-card">
      <h2 class="nombre">Intel i7 GTX 2060 1TB 16gb ram</h2>
      <span class="precio">$2.500.000</span>
      <a class="popup-btn">Vista previa</a>
      <img
        src="./static/img/pc6.png"
        class="producto-img"
        alt="Imagen faltante :("
      />
    </div>
    <div class="popup-view">
      <div class="popup-card">
        <a><i class="fas fa-times close-btn"></i></a>
        <div class="producto-img">
          <img src="./static/img/pc6.png" alt="Imagen faltante :(" />
        </div>
        <div class="info">
          <h2>Intel i7 2060<br /><span>Pc armados</span></h2>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur
            commodi ex mollitia vero eius ut non dolor! Illo, quasi molestiae.
          </p>
          <span class="precio">$2.500.000</span>
          <a href="#" class="anadir-carro-btn">Añadir al carro</a>
          <a href="#" class="anadir-deseo">Añadir a lista de deseos</a>
        </div>
      </div>
    </div>
  </div>
  <div class="producto">
    <div class="producto-card">
      <h2 class="nombre">Intel i7 GTX 2060 super 1TB 32gb ram</h2>
      <span class="precio">$3.000.000</span>
      <a class="popup-btn">Vista previa</a>
      <img
        src="./static/img/pc7.png"
        class="producto-img"
        alt="Imagen faltante :("
      />
    </div>
    <div class="popup-view">
      <div class="popup-card">
        <a><i class="fas fa-times close-btn"></i></a>
        <div class="producto-img">
          <img src="./static/img/pc7.png" alt="Imagen faltante :(" />
        </div>
        <div class="info">
          <h2>Intel i7 2060S <br /><span>Pc armados</span></h2>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur
            commodi ex mollitia vero eius ut non dolor! Illo, quasi molestiae.
          </p>
          <span class="precio">$3.000.000</span>
          <a href="#" class="anadir-carro-btn">Añadir al carro</a>
          <a href="#" class="anadir-deseo">Añadir a lista de deseos</a>
        </div>
      </div>
    </div>
  </div>
  <div class="producto">
    <div class="producto-card">
      <h2 class="nombre">Intel i9 GTX 1660S 1TB 8gb ram</h2>
      <span class="precio">$3.250.000</span>
      <a class="popup-btn">Vista previa</a>
      <img
        src="./static/img/pc8.png"
        class="producto-img"
        alt="Imagen faltante :("
      />
    </div>
    <div class="popup-view">
      <div class="popup-card">
        <a><i class="fas fa-times close-btn"></i></a>
        <div class="producto-img">
          <img src="./static/img/pc8.png" alt="Imagen faltante :(" />
        </div>
        <div class="info">
          <h2>Intel i9 1660S<br /><span>Pc armados</span></h2>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur
            commodi ex mollitia vero eius ut non dolor! Illo, quasi molestiae.
          </p>
          <span class="precio">$3.250.000</span>
          <a href="#" class="anadir-carro-btn">Añadir al carro</a>
          <a href="#" class="anadir-deseo">Añadir a lista de deseos</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ver-ms">
  <a class="ver-mas">Ver más</a>
</div>
{% endblock contenido %}
