{% extends 'base/base.html' %}
{% block contenido %}
{% if searched %}
<section>
    <artcile class="contProductos d-flex flex-wrap">
        {% for producto in product %}
        <div class="card mb-2 mr-2" style="width: 20rem">
            <img class="imagenPr" src="{{ producto.imagen.url }}" alt="" />
            <div class="card-body">
                <h6 class="card-title">{{ producto.nombre_producto }}</h6>
                <h6 class="card-description">{{ producto.descripcion_producto }}</h6>
                <h6 class="card-text">${{ producto.precio_producto }}</h6>
                <a class="btn btn-primary" href="{% url 'agregarCarro' producto.id %}">Comprar</a>
            </div>
        </div>
        {% endfor %}
    </artcile>
</section>
{%endif %}
{% endblock %}